.list {
  display: inline-block;
  background-color: #d7e1e7;
  border: 1px solid #c7d6dd;
  margin-right: 1em;
  vertical-align: top;
  padding: 0.8em 0;
  border-radius: 4px;
  min-width: 280px;
  min-height: 480px;
  &.dragging {
    background-color: #A7ACB7;
    > * {
      visibility: hidden;
    }
  }
  &:last-child {
    margin-right: 20px;
  }
  > ul {
    overflow-y: auto;
    padding-bottom: 7px;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    padding: 0;
  }
  &.empty {
    position: relative;
  }
}

.target {
  height: 200px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  line-height: 200px;
  border-radius: 120px;
  border: 2px dashed #A7ACB7;
  opacity: 0.7;
  color: #A7ACB7;
  span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-size: 18px;
  }
}

.header {
  position: relative;
  h3 {
    margin: 0 10px 15px;
    font-size: 1.1em;
    position: relative;
  }
}

